/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  .blue{
    color: rgb(73, 108, 231);
  }
section {
  
}
  /* HEADER */
  header{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 5px solid rgba(245, 245, 245, 1);
  }
  
  ul{
    display: flex;
  }
  li{
    margin-top: 14px;
    margin-right: 30px;
    list-style-type: none;
  }
  a{
    text-decoration: none;
    color: black;
  }
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: rgb(73, 108, 231);
}
.nav__link {
  position: relative;
}
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: rgb(73, 108, 231);
}
  
  /* PRESENTATION */
  .presentation{
    height: 546px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .salutation{
    margin-top: 100px;
    margin-left: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 115px;
    gap: 20px;
  }
  .contact_btn{
    margin-top: 23px;
    width: 192px;
    height: 54px;
    color: white;
    background-color: rgb(73, 108, 231);
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
  }
  .photo{
    margin-top: 100px;
    margin-right: 100px;
    background-image: url("images/pablo3.jpg");
    background-size:auto;
    background-position: center;
    border-radius: 50px;
    background-repeat: no-repeat;
  }
  .icons{
     margin-top: 43px;
  }
  .icon {
    font-size: 1.5rem;
    background-color:rgb(73, 108, 231);
    color: white;
    margin-right: 23px;
  }
  
  /* ABOUT */
  .about{
    height: 546px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__text{
    margin-top: 20px;
    width: 720px;
    height: 382px;
      display: flex;
      flex-direction: column;
    align-items: center;
    text-align:justify;
  }
  .about h2{
    margin-top: 32px;
    border-bottom: 4px solid rgb(73, 108, 231);
    padding: 14px 0;
  }
  .about__text{
    margin-top: 95px;
  }
  .about__text h2{
    margin-top: 32px;
  }
  .about__text h3{
    margin-bottom: 50px;
  }
  .about__text p{
    padding: 0 73px;
    line-height: 30px;
  }
  /* SKILLS */
  .skills{
    height: 546px;
    display: flex;
    flex-direction: column;
  }
.skills h2{
   margin: 32px auto;
    border-bottom: 4px solid rgb(73, 108, 231);
    padding: 14px 0;
}
  .skill{
    margin-top: 20px;
    margin-bottom: 44px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .dev{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 41px;
  }
/* QUALIFICATION */
 .qualifications{
    height: 546px;
    display: flex;
    flex-direction: column;
  }
.qualifications h2{
    margin: 32px auto;
    border-bottom: 4px solid rgb(73, 108, 231);
    padding: 14px 0;
}
.qualifications span{
  font-weight: bold;
}
.qualifications h4{
  font-size: 20px;
}
.qualif{
  display: flex;
  justify-content: space-around;
}
.education{
  display: flex;
  flex-direction: column;
  gap: 13px;
  line-height: 30px;
}
.headEduc{
  display: flex;
  margin: auto
}
/* PROJECTS */
.projects{
  height: 546px;
  display:flex;
  flex-direction: column;
}
.projects h2{
    margin: 32px auto;
    border-bottom: 4px solid rgb(73, 108, 231);
    padding: 14px 0;
}
.projets{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 58px;
}
#carousel{
    width: 720px;
    height: 407px;
    border: solid 4px #fff;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
    overflow: hidden;
}
#container{
    width: 720px;
    height: 407px;
}
.photos{
    width: 720px;
    height: 407px;
    margin: 0;
    display: inline-block;
    background-size: cover;
}
.bouton{
    width: 70px;
    cursor: pointer;
}
#gauche{
    opacity: 0.4;
    transition: all 0.3s ease;
}
#droite{
    opacity: 0.4;
    transition: all 0.3s ease;
}
#gauche:hover{
    transform: scale(1.1);
    opacity: 1;
    transition: all 0.3s ease;
}
#droite:hover{
    transform: scale(1.1);
    opacity: 1;
    transition: all 0.3s ease;
}

/* CONTACT */
.coordonnees_contact{
  width: 100%;
  display: flex;
  justify-content:space-evenly;
}
.coordonnees{
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-top: 38.5px;
  margin-bottom: 18.5px;
}
.contact_item{
  display: flex;
}
.contact{
  height: 546px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact h2{
    margin-top: 26px;
    border-bottom: 4px solid rgb(73, 108, 231);
    padding: 14px 0;
  }
.contact form{
  display: flex;
  flex-direction: column;
   margin-top: 38.5px;
  margin-bottom: 18.5px;
  gap: 30px;
  width:289px;
}
form input{
  height: 38px;
  border-radius: 7px;
}
form textarea{
  height: 146px;
  border-radius: 7px;
}
form button{
  background-color:  rgb(73, 108, 231);
  color: white;
  width: 102px;
  height: 35px;
  margin: 23px auto;
  border-radius: 7px;
}
  /* FOOTER */
footer{
  background-color: rgb(73, 108, 231);
  display:flex;
  justify-content: center;
  align-items: center;
}
  .foot{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 243px;
    width: 537px;
    gap: 26px;
  }
.copyright{
  display: flex;
}

@media screen and (max-width:995px){
.skills, .qualifications{
  height: 909px;
}
  .skill{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
   .qualif{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .coordonnees{
    display: none;
}
  .coordonnees_contact{
  display: flex;
  justify-content:center;
    align-items: center;
}
  
}